<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>A simple, clean, and responsive HTML invoice template</title>

  <style>
  @page {
    size: a4 portrait;
    margin: 0mm 0mm 0mm 0mm;
    counter-increment: page;
  }

  /* Ensure the SVG starts on a new page */
  .svg-page {
      page-break-before: always;
      height: 680px; /* Full height for the new page */
      display: flex;
      overflow: hidden;
      /*justify-content: center; /* Center the SVG horizontally */
      /*align-items: flex-end; /* Align items to the bottom */
  }

  /* Optional: Make SVG responsive */
  svg {
      width: 80%; /* Make the SVG responsive */
      max-height: 50%; /* Restrict height to avoid overflow */
  }

  .invoice-box {
    max-width: 800px;
    margin: auto;
    padding: 30px;
    font-size: 14px;
    line-height: 15px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
  }

  .invoice-box table {
    width: 100%;
    line-height: 20px;
    text-align: left;
  }

  .invoice-box table td {
    padding: 5px;
    vertical-align: top;
  }

  .invoice-box table tr td:nth-child(2) {
    text-align: right;
  }

  .invoice-box table tr.top table td {
    padding-bottom: 0px;
  }

  .invoice-box table tr.top table td.title {
    font-size: 45px;
    line-height: 45px;
    color: #333;
  }

  .invoice-box table tr.information {
    width: 100%;
    line-height: 30px;
    padding-bottom: 40px;
  }

  .invoice-box table tr.heading td {
    padding-top: 10px;
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
  }

  .invoice-box table tr.details td {
    padding-bottom: 10px;
  }

  .invoice-box table tr.item td {
    border-bottom: 1px solid #eee;
  }
  .col-1 { width: 40%;
  }  /* 10% width for column 1 */
  .col-2 { width: 10%;
    text-align: center;}  /* 30% width for column 2 */
  .col-3 { width: 20%;
    text-align: center;
}  /* 20% width for column 3 */
  .col-4 { width: 15%;
    text-align: center;}  /* 25% width for column 4 */
  .col-5 { width: 15%;
    text-align: right;}  /* 15% width for column 5 */

  .invoice-box table tr.item.last td {
    border-bottom: none;
  }
  .invoice-box table tr.total{
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: right;
    border-bottom: 5px solid #d02c2c;
  }

  @media only screen and (max-width: 600px) {
    .invoice-box table tr.top table td {
      width: 100%;
      display: block;
      text-align: center;
    }

    .invoice-box table tr.information table td {
      width: 100%;
      display: block;
      text-align: center;
    }
  }

  /** RTL **/
  .rtl {
    direction: rtl;
    font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
  }

  .rtl table {
    text-align: right;
  }

  .rtl table tr td:nth-child(2) {
    text-align: left;
  }
  .address_top{
    border-collapse: collapse;
    font-size: 11px;
    padding: 0;
    margin: 0;
  }

  </style>
</head>

<body>
  <div class="invoice-box">
    <table cellpadding="0" cellspacing="0">
      <tr class="top">
        <td colspan="2">
          <table>
            <tr>
              <td class="title" colspan="2">
                <img src="file:///workspace/app/api/processors/PDFinvoice/amiv_logo.svg" style="height: 100px; display: block;">
              </td>
            </tr>
            <tr>
              <td class="address_top">
                <u>AMIV an der ETH, Universitätstrasse 6 (CAB E37), 8092 Zürich</u>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <table>
                  <tr>
                    <td>
                      Name<br>
                      Address1<br>
                      Address2<br>
                      Address3<br>
                      plz city<br>
                      country
                    </td>
                    <td>
                      Datum: {{add_data.issue_date}}<br>
                      Zahlungsziel: {{data.payinterval}} Tage<br>
                      Kontaktperson: <br>
                      Telefon: 044 632 64 67<br>
                      Email:
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <table>
      <tr class="information">
        <td>
          <h3>Rechnung Nr. R24-034</h3>
          Sehr geehrte Damen und Herren<br>
          Wir erlauben uns für die unten aufgeführten Leistungen folgenden Betrag in Rechnung zu stellen.<br>
          <br>
        </td>
      </tr>
    </table>
    <table cellpadding="0" cellspacing="0">
      <tr class="heading">
        <td class="col-1">
          Bezeichnung
        </td>
        <td class="col-2">
          Menge
        </td>
        <td class="col-3">
          Einzelpreis CHF
        </td>
        <td class="col-4">
          MwSt. Satz
        </td>
        <td class="col-5">
          Total CHF
      </tr>

      {% for entry in data.items %}
      <tr class="item">
        <td class="col-1">
          {{entry.item.title_de}}<br>
          {{entry.item.description_de}}
        </td>
        <td  class="col-2">
          {{entry.amount}}
        </td>
        <td  class="col-3">
          {{entry.item.price}}
        </td>
        <td  class="col-4">
          {{entry.item.mwst_published}}
        </td>
        <td  class="col-5">
          {{entry.debitor.amount}}
        </td>
      </tr>
      {% endfor %}

      <tr class="total">
        <td></td>
        <td></td>

        <td colspan="2">
           Gesamt Netto CHF:
        </td>
        <td>
          {{add_data.total_exc_mwst}}
        </td>
      </tr>
      <tr class="total">
        <td></td>
        <td></td>

        <td colspan="2">
           Gesamt MwSt. CHF:
        </td>
        <td>
          {{add_data.mwst}}
        </td>
      </tr>
      <tr class="total">
        <td></td>
        <td></td>

        <td colspan="2">
           <strong>Gesamt Brutto CHF:</td></strong>
        </td>
        <td>
          <strong>{{add_data.total}}</td></strong>
        </td>
      </tr>
    </table>
    <table>
      <tr class="information">
        <td>
          <br>
          Bitte überweisen Sie den Betrag bis am 07.06.2024 ohne Abzüge unter Angabe der Rechnungsnummer auf unser unten aufgeführtes Bankkonto. <br>
          Besten Dank für Ihr Vertrauen und die gute Zusammenarbeit.<br>
          Freundliche Grüsse <br>
          <br>
          Name <br>
          Position im AMIV <br>
        </td>
      </tr>
    </table>
  </div>
  <div>
</div>
</body>
</html>







<!--
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>A simple, clean, and responsive HTML invoice template</title>

  <style>
  @page {
    size: a4 portrait;
    margin: 0mm 0mm 0mm 0mm;
    counter-increment: page;
  }
  .invoice-box {
    max-width: 800px;
    margin: auto;
    padding: 30px;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
  }

  .invoice-box table {
    width: 100%;
    line-height: inherit;
    text-align: left;
  }

  .invoice-box table td {
    padding: 5px;
    vertical-align: top;
  }

  .invoice-box table tr td:nth-child(2) {
    text-align: right;
  }

  .invoice-box table tr.top table td {
    padding-bottom: 20px;
  }

  .invoice-box table tr.top table td.title {
    font-size: 45px;
    line-height: 45px;
    color: #333;
  }

  .invoice-box table tr.information table td {
    padding-bottom: 40px;
  }

  .invoice-box table tr.heading td {
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
  }

  .invoice-box table tr.details td {
    padding-bottom: 20px;
  }

  .invoice-box table tr.item td{
    border-bottom: 1px solid #eee;
  }

  .invoice-box table tr.item.last td {
    border-bottom: none;
  }

  .invoice-box table tr.total td:nth-child(2) {
    border-top: 2px solid #eee;
    font-weight: bold;
  }

  @media only screen and (max-width: 600px) {
    .invoice-box table tr.top table td {
      width: 100%;
      display: block;
      text-align: center;
    }

    .invoice-box table tr.information table td {
      width: 100%;
      display: block;
      text-align: center;
    }
  }
  div.divFooter {
    position: fixed;
    height: 30px;
    background-color: purple;
    bottom: 0;
    width: 100%;
    left: 0;
  }

  /** RTL **/
  .rtl {
    direction: rtl;
    font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
  }

  .rtl table {
    text-align: right;
  }

  .rtl table tr td:nth-child(2) {
    text-align: left;
  }
  </style>
</head>

<body>
  <div class="invoice-box">
    <table cellpadding="0" cellspacing="0">
      <tr class="top">
        <td colspan="2">
          <table>
            <tr>
              <td class="title">
                <img src="file:///workspace/app/api/processors/PDFinvoice/amiv_logo.svg" style="height: 200px;">
              </td>
              <td>
                Invoice #: test<br>
                Created: test<br>
                Due: tets
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <tr class="information">
        <td colspan="2">
          <table>
            <tr>
              <td>
                test<br>
                test<br>
                test
              </td>
              <td>
                test<br>
                test<br>
                test
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr class="heading">
        <td>
          Item
        </td>
        <td>
          Price
        </td>
      </tr>

      {% for entry in items %}
      <tr class="item">
        <td>
          {{entry.item.description_de}}
        </td>
        <td>
          test
        </td>
      </tr>
      {% endfor %}

      <tr class="total">
        <td></td>
        <td>
           Total: 100
        </td>
      </tr>
    </table>
  </div>
  <div class="divFooter"></div>
</body>
</html>
-->
